// Body Styles 
body,
html, 
.body {
	background: #f3f3f3 !important;
}

li {
	list-style: none;
}

.header {
	margin-bottom: 20px;

	& > tbody > tr > th {
		padding-bottom: 0 !important;
		padding-right: 5px !important;
		padding-left: 5px !important;
	}

	&__logo {

	.columns {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	h1 {
		margin-bottom: 0;
		font-weight: 300;
		.emphasis {
		font-weight: 700;
		}
	}

	}

	.nav {
	padding-top: 20px;

	.columns {
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-bottom: 0 !important;
	}

	&__items {
		.columns {
		padding-right: 0 !important;
		padding-left: 0 !important;
		}
	}

	&__item {
		display: inline-block;
		width: 90%;
		text-align: center;
		padding: 5px;
		font-size: 14px;


		&--primary {
		color: red !important;
		}
	}

	.menu-divider {
		display: block; 
		height: 20px; 
		width: 1px; 
		background: #ccc; 
		background-color: #ccc;
	}
	}

}




