// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

li {
  list-style: none;
}

.header {
  border: 1px solid red;
}


.hline {
  & span {
    display: block;
    background: #ccc;
    background-color: #ccc;
    width: 100%;
    height: 1px;
  }
}