<container>
    <row class="footer">
        <columns small="12" large="12" valign="middle">
            <row class="footer__social-nav">
                <columns small="2" large="2" valign="middle"></columns>
                <columns small="2" large="1" valign="middle">
                    <a href="#" class="footer__social-nav-item" target="_blank" rel="noreferrer noopener">
                        <img src="{{ root }}/assets/img/final_images/instagram.png" alt="Instagram" class="footer__social-nav-img">
                    </a>
                </columns>
                <columns small="2" large="1" valign="middle">
                    <a href="#" class="footer__social-nav-item" target="_blank" rel="noreferrer noopener">
                        <img src="{{ root }}/assets/img/final_images/pinterest.png" alt="pinterest" class="footer__social-nav-img">
                    </a>
                </columns>
                <columns small="2" large="1" valign="middle" style="padding-top: 4px;">
                    <a href="#" class="footer__social-nav-item" target="_blank" rel="noreferrer noopener">
                        <img src="{{ root }}/assets/img/final_images/twitter.png" alt="twitter" class="footer__social-nav-img">
                    </a>
                </columns>
                <columns small="2" large="1" valign="middle">
                    <a href="#" class="footer__social-nav-item" target="_blank" rel="noreferrer noopener">
                        <img src="{{ root }}/assets/img/final_images/facebook.png" alt="facebook" class="footer__social-nav-img">
                    </a>
                </columns>
                <columns small="2" large="2" valign="middle"></columns>
            </row>

            <row class="hline">
                <columns small="1" large="1"></columns>
                <columns small="10" large="10">
                    <span></span>
                </columns>
                <columns small="1" large="1"></columns>
            </row>

            <row class="footer__info">
                <columns small="12" large="12">
                    <row class="footer__info-text">
                        <columns small="12" large="12">
                            <p>
                                We are sending you this email since you signed up on our website to be the first to know when we launch new products or announce new sales. You can view our privacy policy here: <a href="#">View our privacy policy</a>.
                            </p>
                        </columns>
                    </row>
                    <row class="footer__info-unsubscribe">
                        <columns small="12" large="12">
                            <p>
                                If you would no longer like to receive all marketing emails, click 
                                <a href="#">unsubscribe</a>.
                            </p>
                        </columns>
                    </row>
                    <row class="footer__info-address">
                        <columns small="12" large="12">
                            <span>Work/Space, 353 Tompkins Ave, Brooklyn, NY 11216</span>
                        </columns>
                    </row>
                    <row class="footer__info-copyright">
                        <columns small="12" large="12">
                            <span>&copy; 2021 Work/Space</span>
                        </columns>
                    </row>
                </columns>
            </row>
        </columns>
    </row>
</container>