<container>
	<row class="header">
			<columns large="12" small="12">
				<row class="header__logo">
					<columns large="12" small="12">
						<h1 class="text-center">
							Work
							<span class="emphasis">/</span>
							Space
						</h1>
					</columns>
				</row>
                <row class="header__subtitle">
                    <columns small="12" large="12">
                        <span>
                            In Case You Missed It - Weekly #1
                        </span>
                    </columns>
                </row>
                <row class="hline">
                    <columns small="1" large="1"></columns>
                    <columns small="10" large="10">
                        <span></span>
                    </columns>
                    <columns small="1" large="1"></columns>
                </row>
			</columns>
		</row>
</container>



