<container>
    <row class="services">
        <columns small="12" large="12">
            <row class="services__info">
                <columns small="6" large="3" valign="middle">
                    <img src="https://i.imgur.com/LwCWN2u.png" alt="prices" class="services__info-img">
                    <span class="services__info-text">Affordable Prices</span>
                </columns>
                <columns small="6" large="3" valign="middle">
                    <img src="https://i.imgur.com/UXJrS4j.png" alt="lifetime" class="services__info-img" >
                    <span class="services__info-text">Lifetime Warranty</span>
                </columns>
                <columns small="6" large="3" valign="middle">
                    <img src="https://i.imgur.com/iZGMFnH.png" alt="delivery" class="services__info-img">
                    <span class="services__info-text">Fast Shipping</span>
                </columns>
                <columns small="6" large="3" valign="middle">
                    <img src="https://i.imgur.com/lv76vX3.png" alt="modular" class="services__info-img">
                    <span class="services__info-text">Modular Design</span>
                </columns>
            </row>
        </columns>
    </row>

</container>