<container>
    <row class="services">
        <columns small="12" large="12">
            <row class="services__info">
                {{#each servicesData.services }}
                    <columns small="6" large="3" valign="middle">
                        <img src={{ this.image }} alt={{ this.altText }} class="services__info-img">
                        <span class="services__info-text">{{ this.title }}</span>
                    </columns>
                {{/each}}
            </row>
        </columns>
    </row>

</container>