<container>
    <row class="services">
        <columns small="12" large="12">
            <row class="services__info">
                <columns small="6" large="3" valign="middle">
                    <img src="{{ root }}/assets/img/final_images/pricetag.png" alt="prices" class="services__info-img">
                    <span class="services__info-text">Affordable Prices</span>
                </columns>
                <columns small="6" large="3" valign="middle">
                    <img src="{{ root }}/assets/img/final_images/Ribbon.png" alt="lifetime" class="services__info-img" >
                    <span class="services__info-text">Lifetime Warranty</span>
                </columns>
                <columns small="6" large="3" valign="middle">
                    <img src="{{ root }}/assets/img/final_images/rocket.png" alt="delivery" class="services__info-img">
                    <span class="services__info-text">Fast Shipping</span>
                </columns>
                <columns small="6" large="3" valign="middle">
                    <img src="{{ root }}/assets/img/final_images/cube.png" alt="modular" class="services__info-img">
                    <span class="services__info-text">Modular Design</span>
                </columns>
            </row>
        </columns>
    </row>

</container>